/* ------------------------------------------
  # bbPress
--------------------------------------------- */
.bbp-form .bbp-template-notice {
  display: none;
}
div.bbp-template-notice {
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}
div.bbp-template-notice li {
  font-size: 15px;
  color: #d0c105;
}
.bbpress-wrapper .bbp-template-notice.info {
  display: none;
}
.bbpress-wrapper div.bbp-breadcrumb {
  display: none;
}
.bbp-footer {
  display: none;
}
#bbpress-forums fieldset.bbp-form input[type=text],
#bbpress-forums fieldset.bbp-form input[type=password],
#bbpress-forums fieldset.bbp-form select {
  width: 100%;
  border: 1px solid #dcdcde;
  height: 40px;
}
div.bbp-submit-wrapper {
  margin-bottom: 15px;
}
.bbp-submit-wrapper button,
#bbpress-forums #bbp-your-profile fieldset.submit button {
    border: none;
    background: #3c3c3c;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    letter-spacing: .5px;
}
.bbp-submit-wrapper button:focus {
  border: none;
  outline: none;
}
.bbp-submit-wrapper button:hover,
#bbpress-forums #bbp-your-profile fieldset.submit button:hover {
  opacity: .9;
}
#bbpress-forums li.bbp-header {
    padding: 15px 0 15px 25px;
    font-size: 15px;
    border-top: 0;
}
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
  font-size: 14px;
  padding: 15px 0 15px 25px;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
  font-size: 12px;
}
#bbpress-forums #bbp-single-user-details {
  margin-right: 50px;
  margin-top: 20px;
}
#bbpress-forums .bbp-user-section {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  margin: 20px;
  padding: 20px;
}
#bbp-user-body div.bbp-search-form {
  margin-right: 20px;
}
#bbpress-forums.bbpress-wrapper .tx_bbp_list_group {
  margin-top: 25px;
  margin-bottom: 25px;
}
#bbpress-forums #bbp-user-body {
    margin-left: 0;
}
#bbpress-forums .bbp-replies .bbp-header {
    display: none;
}
#bbpress-forums .bbp-user-section ul.bbp-replies {
    margin-top: 30px;
    border: none;
    clear: both !important;
}
#bbpress-forums div.odd, #bbpress-forums ul.odd {
  background-color: transparent;
}
#bbpress-forums .topic-author,
#bbpress-forums .type-topic {
  display: flex;
  padding: 0;
  margin-bottom: 50px;
}
#bbpress-forums div.reply {
  display: flex;
}
#bbpress-forums div.bbp-reply-content {
  padding: 0;
  margin-left: 50px;
}
#bbpress-forums div.bbp-reply-content {
  border: 1px solid #e6e5e6;
}
#bbpress-forums div.bbp-reply-header {
  border-top: 0;
  background-color: #e6e5e6;
  padding: 12px;
}
.bbp-reply-content p {
  padding: 25px;
}
@media(min-width: 768px) {
  .bbp-reply-content:before {
      border-bottom: 1px solid #e6e5e6;
      border-left: 1px solid #e6e5e6;
      background: #fff;
      content: "";
      height: 14px;
      position: absolute;
      top: 80px;
      left: -8px;
      transform: rotate(45deg);
      width: 14px;
  }
}
@media only screen and (max-width: 480px) {
  #bbpress-forums .bbp-body div.bbp-reply-author, 
  #bbpress-forums .bbp-body div.bbp-topic-author {
    padding-left: 0;
  }
}

span.bbp-admin-links a {
  font-size: 11px;
}
div.bbp-breadcrumb {
  font-size: 14px;
  float: none;
  text-align: center;
}
#bbpress-forums #bbp-search-form #bbp_search_submit:hover,
.widget_display_search #bbp_search_submit:hover {
  background-color: #202020;
}
/*@media(min-width: 1200px) {
  #bbpress-forums #bbp-search-form #bbp_search {
    width: 738px;
  }
  #bbpress-forums #bbp-search-form #bbp_search_submit {
     width: 100px;
  }
}*/
#bbpress-forums #bbp-search-form #bbp_search,
.bbp-search-form input {
  border-style: solid;
  border: 1px solid #828282;
  padding-left: 10px;
}
#bbpress-forums #bbp-search-form #bbp_search {
  height: 45px;
}
.bbp-search-form input {
  height: 35px;
}
@media(max-width: 768px) {
  .bbp-search-form input {
    width: 100%;
  }
  .widget_display_search #bbp_search_submit {
    right: 35px;
  }
}
#bbpress-forums #bbp-search-form #bbp_search::-webkit-input-placeholder,
.bbp-search-form input::-webkit-input-placeholder {
  padding: 0 5px;
}
.widget_display_search #bbp_search_submit,
#bbpress-forums #bbp-search-form #bbp_search_submit {
  background-color: #3c3c3c;
  color: white;
  border: 0;
  border-radius: 0;
  position: absolute;
  height: 35px;
  padding: 0 12px;
}
.forum-archive #bbpress-forums #bbp-search-form #bbp_search_submit {
  right: 15px;
}
#bbpress-forums #bbp-search-form #bbp_search_submit {
    right: 0;
    height: 45px;
    padding: 0 20px;
}
.widget_display_search #bbp_search_submit i {
  font-size: 14px;
}
.bbp-search-form div {
    margin-bottom: 30px;
}
#bbpress-forums ul.bbp-replies {
  border: 0;
}
#bbpress-forums .bbp-pagination-links a, #bbpress-forums .bbp-pagination-links span.current {
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 10px
}
#bbpress-forums .bbp-forums-list {
  border-left: 0;
}
#bbpress-forums #favorite-toggle, #bbpress-forums #subscription-toggle {
    margin-bottom: 20px;
}
.tx-bbpress-container {
    display: flex;
}
.bbp-username input {
  width: 100%;
  border: 1px solid #cecece;
}
.bbp-logged-in h4 {
  font-size: 16px;
}
#bbpress-forums div.bbp-search-form,
#bbpress-forums #bbp-search-form #bbp_search {
    width: 100%;
}
.bbp-logged-in img {
    float: left;
    margin: 0 15px 0 0;
    width: 50px;
}
#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role
#bbpress-forums div.bbp-reply-author .bbp-author-name,
#bbpress-forums div.bbp-topic-author .bbp-author-name {
    margin-bottom: 10px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    font-size: 12px;
    font-style: normal;
    color: gray;
    margin-top: 5px;
}
dl[role=main] dt {
    width: 80%;
    float: left;
}
dl[role=main] dd {
    width: 20%;
    float: left;
    text-align: right;
}
.widget.widget_display_stats {
  display: flow-root;
}
.bbp-replies-widget img {
    vertical-align: middle;
    margin-right: 5px;
}