/* ---------------------------------------------------------
  # Learnpress plugin for Education demo courses
------------------------------------------------------------ */
.learnpress .post.hentry {
  box-shadow: none;
  padding: 0;
}
 .learn-press-breadcrumb {
  display: none;
}
.learnpress .learn-press-message:before {
  background: #002147;
}
.course-summary .course-summary-sidebar.slide-down .course-summary-sidebar__inner {
  z-index: 9;
}
.lp-sidebar .widget {
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    padding: 5px 20px 20px;
    margin-bottom: 40px;
}
.post-type-archive-lp_course .lp-sidebar .widget {padding-top: 15px}
#learn-press-user-profile form button {
    border: none;
    background: #002147;
    color: white;
    padding: 5px 15px;
    border-radius: 2px;
}
.learn-press-courses {
    list-style: none;
    margin-right: -2.1%;
    margin-left: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.learn-press-courses[data-layout=list] .course-rate {
    margin-right: 0px;
}
.avas #learn-press-course-tabs.course-tabs {
  margin-top: 0;
}
.post-type-archive-lp_course .lp-archive-courses {
  padding-top: 100px;
  padding-bottom: 100px;
}
.tx-lp-thumb {
  margin-bottom: 50px;
}
.lp-widget-course__image {
    float: left;
    width: 100px;
    margin-right: 10px;
}
.learnpress-widget-wrapper .lp-widget-course {
    border: none !important;
}
.avas .learnpress-widget-wrapper .lp-widget-course__content {
  padding: 0;
  border: 0;
}
.course-summary .lp-widget-course__meta .course-price {
  margin-bottom: 0;
}
.avas .learnpress.widget h3 {
    margin-bottom: 0px;
    font-size: 14px;
}
.avas .learnpress-widget-wrapper .lp-widget-course__title {
    margin: 0;
}
.avas .learnpress-widget-wrapper .lp-widget-course__meta {
  margin: 5px 0 0 0;
}
.single-lp_course .lp-archive-courses {
    margin-left: -15px;
    margin-right: -15px;
}
/*.avas .lp-archive-courses .learn-press-courses[data-layout=grid] .course {
    width: 33.33333%;
}*/
.avas .learn-press-courses[data-layout=grid] .course-content .separator {
    display: none;
}
.avas .learn-press-courses[data-layout=list] .course {
    box-shadow: 0 0 8px 0 rgba(110,123,140,.2);
    padding: 25px;
}
/*.avas .lp-content-area {
  width: 1140px;
}*/
.avas .lp-archive-courses .course-summary .course-summary-content .lp-entry-content.lp-content-area .course-summary-sidebar {
  margin-top: 50px;
}
.avas .lp-archive-courses .course-summary .course-summary-content .lp-entry-content.lp-content-area .course-summary-sidebar .course-summary-sidebar__inner .course-sidebar-secondary {
  padding: 20px;
  box-shadow: 0 15px 20px 0 rgb(0 0 0 / 10%);
}

.lp-courses-bar {
  /*margin-left: 15px;*/
  float: left;
  width: 100%;
}
.learnpress.widget_course_recent .lp-widget-recent-courses__footer,
.elementor-widget-wp-widget-learnpress_widget_course_recent .lp-widget-recent-courses__footer {
  display: none;
}
/*learnpress course checkout page*/
.avas .lp-content-wrap {
    width: 1140px;
    max-width: 90%;
    margin: 0 auto;
    max-width: 100%;
    padding: 100px 0;
}


.tx-course-item {
    padding: 20px 15px 0;
    border: 1px solid #e7e7e7;
    border-top: none;
    background-color: white;
}
.tx-courses-excp {
    padding-bottom: 15px;
}
.edu-course-footer {
    margin-left: -15px;
    margin-right: -15px;
}
.tx-course-item .course-rate {
    margin: 0;
}



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  .learn-press-courses .course {
    width: 100%;
    /*box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
    transition: all .5s ease;
    display: table;
    margin: 15px;
  }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  .learn-press-courses .course {
    width: 44%;
     /*box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
    transition: all .5s ease;
    display: table;
    margin: 15px;
  }
}
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .learn-press-courses .course {
    width: 44%;
     /*box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
    transition: all .5s ease;
    display: table;
    margin: 15px;
  }
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .learn-press-courses .course {
    width: 100%;
    /*box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
    transition: all .5s ease;
    display: table;
    margin: 15px;
  }

}


.avas .lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content .course-permalink {
    height: auto;
    margin-bottom: 5px;
/*    padding: 15px 15px 0;*/
}
.avas .lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content .course-info .course-footer {
  padding-top: 0;
  border-top: none;
}
.avas .lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content {
  padding: 20px 15px;
  flex-grow: 0;
}
.avas .lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content .course-info .course-excerpt {
    display: -webkit-box;
    margin-bottom: 10px;
    padding: 5px 15px 7px;
    font-size: 14px;
    
}
.avas .lp-archive-courses .learn-press-courses .course .course-item .course-content .course-excerpt {
    font-weight: 400;
}
.avas .lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item {
  height: auto;
}
.avas .lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content .course-info .course-footer .course-students {
  float: right;
}
.avas .lp-archive-courses .learn-press-courses[data-layout="grid"] .course .course-item .course-content .course-info .course-footer .course-students::before {
  margin-right: 0;
}
.avas .lp-badge.featured-course,
.elementor-page .lp-badge.featured-course {
  top: 13px;
  left: 63px;
  transform: rotate(30deg);
}
/*columns 3*/
.avas .ccol33 .lp-badge.featured-course,
.elementor-page .ccol33 .lp-badge.featured-course {
  top: 20px;
  left: 150px !important;
}
.elementor-page .course-wrap-thumbnail {
  position: relative;
  overflow: hidden;
}
.avas .lp-archive-courses .learn-press-courses .course .course-item .course-wrap-thumbnail .course-thumbnail .thumbnail::before {
  background-color: transparent;
}
.avas .lp-archive-courses .learn-press-courses .course {
  margin-bottom: 50px;
  
}
.avas .lp-archive-courses .learn-press-courses[data-layout=grid] .course {
    width: 33.33%;
}
.avas .lp-archive-courses .learn-press-courses .course .course-item .course-content .course-categories::after {
  background: transparent;
}
.avas .lp-archive-courses .learn-press-courses[data-layout="list"] .course .course-item .course-content .course-readmore {
  margin-top: 10px;
}
.tax-course_category .learn-press-courses[data-layout="list"] .edu-course-footer,
.post-type-archive-lp_course .learn-press-courses[data-layout="list"] .edu-course-footer {
  border: none;
  padding: 0;
}
.course-cateogory {
    float: right;
    position: relative;
    z-index: 1;
    top: -35px;
    right: -1px;
}
.course-cateogory a {
    color: white;
    position: relative;
    margin: 0;
    padding: 2px 12px 2px 22px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);
    background: var(--lp-primary-color);
}
.learn-press-courses[data-layout="list"] .lp-badge.featured-course {
  left: 85px;
}
.tax-course_category .lp-archive-courses {
    padding: 75px 0;
}
.edu-course-price,
.lp-course-price {
    position: absolute;
    padding: 6px 9px;
    background-color: #8CC63F;
    color: white;
    font-size: 15px;
    transition: all .7s;
    z-index: 1;
}
.edu-course-price .origin-price,
.lp-course-price .origin-price {
  text-decoration: line-through;
  font-size: 14px;
  font-style: italic;
  padding-right: 4px;
  color: #333;
}
.course-title a{
  line-height: 1.4;
}
.course-title a:hover {
  color: #FFC107;
}
.course-title {
    font-size: 18px;
}
.course-cateogory {
    float: right;
    position: relative;
    z-index: 1;
    top: -35px;
    right: -1px;
}
.course-cateogory a {
    color: white;
    font-size: 13px;
    position: relative;
    margin: 0;
    padding: 2px 12px 2px 22px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);
    background: var(--lp-primary-color);
}
.course-cateogory a:hover{
  color: white;
}
.course-thumbnail img {
    width: 100%;
}
.button-purchase-course.loading {
  display: block;
}
.avas .lp-archive-courses .course-summary .course-summary-content .lp-entry-content.lp-content-area .course-summary-sidebar .course-summary-sidebar__inner > div .widgettitle {
    border-bottom: 3px solid #dadada;
    color: #121212;
    padding-bottom: 10px;
    margin-bottom: 12px;
    font-weight: 700;
}
.lp-archive-courses .course-summary .course-summary-content .lp-entry-content.lp-content-area .course-summary-sidebar .course-summary-sidebar__inner > div .widgettitle:after {
    bottom: -13px;
    display: block;
    content: "";
    height: 3px;
    left: 0;
    position: relative;
    width: 60px;
    background-color: #002147;
}


@media (min-width: 736px) {
/*.learn-press-courses .type-lp_course,
.lpr_course {
    box-shadow: 0 1px 5px rgba(0,0,0,.1) !important;
    transition: all .5s ease;
    display: table;
}*/
#profile-content-courses ul.learn-press-courses .course {
   /*box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
   margin: 0px 9px 30px 6px;
}
.learn-press-courses .type-lp_course:hover,
.lpr_course:hover {
    box-shadow: 0 1px 7px 1px rgba(0,0,0,.2);
}


}
.lp-courses-bar input {
    width: 100%;
    height: 50px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid;
}
form[name="search-course"] .search-course-input {
  border: 1px solid #e5e5e5;
}
.post-type-archive-lp_course .lp-courses-bar .search-courses input[type=text] {
    border: none;
}
.learn-press-courses .type-lp_course:hover .lp-course-price,
.lpr_course:hover .lp-course-price,
.type-lp_course:hover .edu-course-price{
  transform: rotate(360deg);

}
.learn-press-pagination {
    justify-content: center;
}
.type-lp_course:hover .edu-course-footer {
  border-color: #8CC63F;
}
.learnpress-block-pagination .page-numbers>li, .lp-list-courses-default .learn-press-pagination .page-numbers>li {
    margin: 0 10px;
}
.post-type-archive-lp_course .learn-press-pagination .page-numbers > li a,
.post-type-archive-lp_course .learn-press-pagination .page-numbers > li span {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 3px;
    transition: all .3s;
    color: #121212;
    border: 1px solid #121212;
}
.post-type-archive-lp_course .learn-press-pagination .page-numbers > li span,
.post-type-archive-lp_course .learn-press-pagination .page-numbers > li a:hover {
    background-color: #121212;
    color: #fff;
}
.post-type-archive-lp_course form[name="search-course"] .search-course-button {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    padding: 15px;
    border: 0;
    height: auto;
    line-height: 1px;
    cursor: pointer;
}
.post-type-archive-lp_course form[name="search-course"] .search-course-input {
    width: 100%;
    padding: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
}
.single-lp_course .lp-single-course .lp-course-buttons {display: none}

/*course price*/
.lp-sidebar .course-payment,
.lp-sidebar .course-rating {
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  margin-top: 40px;
}

.single-lp_course form[name="purchase-course"] .button-purchase-course,
.single-lp_course form[name="enroll-course"] .lp-button{
  border: none;
  background-color: #8CC63F;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  height: auto;
  font-size: 15px;
  color: #fff;
}
.single-lp_course .learn-press-message {
  background: #FFC105;
  color: #000;
  text-transform: uppercase;
}
.single-lp_course .learn-press-message:before {
  background: #FFC105;
}
.single-lp_course form[name="purchase-course"] .button-purchase-course:focus,
.single-lp_course form[name="enroll-course"] .lp-button:focus {
  outline: none;
}
.single-lp_course form[name="purchase-course"] .button-purchase-course:hover,
.single-lp_course form[name="enroll-course"] .lp-button:hover {
  background: #002147;
  color: white;
  transition: all .5s ease;
}

.single-lp_course .course-price .origin-price{
   font-size: 18px;
   text-decoration: line-through;
   font-style: oblique;
}
.avas .course-summary .course-sidebar-preview .course-price .price {
  font-weight: 600;
  font-size: 26px;
}
.avas .course-summary .course-price .price {
  font-size: 14px;
}

.single-lp_course .course-tabs {
    clear: both
}
.single-lp_course .course-tabs .course-nav-tabs:after,
.single-lp_course .course-tabs .course-nav-tabs:before {
    content: " ";
    display: table;
}
.single-lp_course .course-tabs .course-nav-tabs {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    transition: all .3s ease;
}
.single-lp_course .course-tabs .course-nav-tabs li {
    transition: all .3s ease;
}
.single-lp_course .course-tabs .course-nav-tabs li:hover:after {
  background: #002147;
}
.single-lp_course .course-tabs .course-nav-tabs li a {
    border-radius: 0;
    margin-right: 3px;
    border: 1px solid #eee;
    border-bottom: 0;
    text-transform: uppercase;
    color: #002147;
    font-weight: 600;
    background: #f9f9f9;
    line-height: 29px;
    display: block;
    position: relative;
    transition: all .3s ease;
}
@media(max-width: 767px) {
.single-lp_course .course-tabs .course-nav-tabs li a {
    font-size: 10px;
    font-weight: 400;
}
ul.learn-press-nav-tabs .course-nav a {padding:10px 1px !important;}
.course-nav-tab-overview a:before, .course-nav-tab-curriculum a:before, 
.course-nav-tab-instructor a:before, .course-nav-tab-reviews a:before {
    padding-right: 2px !important;
  }
}
.single-lp_course .course-tabs .course-nav-tabs li.active,
.single-lp_course .course-tabs .course-nav-tabs li.active a {
    background: #fff;
    transition: all .3s ease;
}
.single-lp_course .course-tabs .course-nav-tabs li a .fa {
    font-size: 13px;
    vertical-align: middle;
    line-height: 29px;
    margin-right: 8px
}

.single-lp_course .course-tabs .course-nav-tabs li:last-child a {
    margin-right: 0
}
.single-lp_course .course-tabs .course-nav-tabs li:last-child.active:after,
.single-lp_course .course-tabs .course-nav-tabs li:last-child.active:before {
    right: 0
}

.single-lp_course .course-tabs .course-nav-tabs li.active:before {
    content: '';
    position: absolute;
    left: 0;
    right: 3px;
    top: 29px;
    height: 4px;
    z-index: 10;
    background-color: #8CC63F;
}
.single-lp_course .course-tabs .course-nav-tabs li.active:after {
    content: '';
    position: absolute;
    left: 0;
    right: 3px;
    bottom: -1px;
    height: 1px;
    z-index: 10;
    background: #fff
}
.single-lp_course .course-tabs .tab-content {
    border: 1px solid #eee;
    border-top: 0;
    padding: 60px 30px
}

.single-lp_course .course-tabs .tab-content .lp-announcements .lp-announcement-item {
    margin-bottom: 15px
}
.single-lp_course .course-tabs .tab-content .lp-announcements .lp-announcement-item .title {
    background-color: transparent;
    border: 1px solid #e5e5e5!important;
    line-height: 40px
}
.single-lp_course .course-tabs .tab-content .lp-announcements .lp-announcement-item .title span {
    background: 0 0;
    color: #333
}
.single-lp_course .course-tabs .tab-content .lp-announcements .lp-announcement-item .lp-announcement-content {
    padding-left: 20px;
    background-color: transparent
}
.single-lp_course .lp-label.label-enrolled {
    background: #ffb606

}
.single-lp_course .write-a-review, .submit-review,.learnpress-page .lp-button {
    border: none;
    background-color: #8CC63F;
    border-radius: 2px;
    color: white;
    padding: 6px 12px;
    font-size: 12px;
}
.single-lp_course.learnpress-page .lp-button {
    color: white;
}
.single-lp_course .write-a-review:hover,.submit-review:hover,.learnpress-page .lp-button:hover {
  background: #AEDB49
}
.course-nav-tab-overview a:before,
.course-nav-tab-curriculum a:before,
.course-nav-tab-instructor a:before,
.course-nav-tab-reviews a:before {
  font-family: FontAwesome;
  font-weight: 400;
  padding-right: 10px;
}
.review-form .review-fields > li input[type="text"],.review-form .review-fields > li textarea {
  border: 1px solid #ccc;
    padding: 5px 10px;
}
.course-nav-tab-overview a:before {
  content: "\f02e";
}
.course-nav-tab-curriculum a:before {
  content: "\f1b2";
}
.course-nav-tab-instructor a:before {
  content: "\f007";
}
.course-nav-tab-reviews a:before {
  content: "\f086";
}

/*course features*/
.lp-course-features { 
  padding: 20px; 
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  margin: 40px 0;
}
.lp-course-features .title {
  color: #000;
  font-weight: 600;
}
.lp-course-features ul {
  padding: 0;
}
.lp-course-features li {
  list-style: none;
  padding: 18px 0 12px;
  border-bottom: 1px solid #eee;
  color: #002147;
}
.lp-course-features li span {
  color: #002147;
  font-size: 14px;
}

.lp-course-features li i {
  padding-right: 10px;

}
.lp-course-features li .value {
  float: right;
}
.lp-course-features li:last-child {
  border: none;
}
.lp-course-features li .label,
.lp-course-features li .value {
  font-weight: 600;
}

/* course related item*/
.edu-ralated-course {
    clear: both;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}
.related-course .course-summary {
  padding: 20px 10px;
}
.related-course .lpr_course.item {
    border: 1px solid #f0f0f0;
    background-color: white;
}
.edu-ralated-course .related-title {
    position: relative;
    font-size: 22px;
    padding: 10px 20px;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,.3);
    margin: 60px 5px 25px;
    background-color: #002147;
    font-weight: 500;
    color: white;
}
.edu-ralated-course .owl-item.active {
  padding: 5px;
}
.edu-ralated-course .owl-nav {
    top: -68px;
    position: absolute;
    right: 25px
}
.edu-ralated-course .owl-carousel .owl-nav button i {
    font-size: 24px;
    color: #fff;
    opacity: .75;
}
.edu-ralated-course .owl-carousel .owl-nav button:focus {
  outline: none;
}
.edu-ralated-course .owl-carousel .owl-nav button:hover i {
  opacity: 1;
}
.review-form .review-stars > li span.hover:before {
  color: #FFB606;
}
.related-course-footer {
    padding: 5px 10px;
    border-top: 1px solid #e7e7e7;
    display: flow-root;
}
.related-course-footer .lp-author img {
  width: 30px;
}
.edu-ralated-course .course-rate {
  margin: 0;
  padding: 8px;
  top: 4px;
  width: auto;
}
.edu-ralated-course .course-students { 
  padding-top: 8px; 
}
.edu-ralated-course .lpr_course:hover .related-course-footer {
  border-color: #FFB606;
   transition: all 1s ease;
}
.edu-ralated-course .lpr_course:hover .course-students {
  color: #002147;
  transition: all .5s ease-in-out;
}
.edu-ralated-course .course-title a{
  font-size: 16px;
  font-weight: 400;
}

/*learnpress checkout */
.checkout .lp-list-table thead tr th {
  background: #002147
}

/*review*/
.course-rate {
    float: left;
    position: relative;
    top: 6px;
    overflow: hidden;
    display: flex;
    margin-left: 3px;
}
.course-rate .review-stars-rated .review-star {
    position: relative;
}
.review-stars-rated .review-star .far {
    position: relative;
    color: #CCC;
}
.review-stars-rated .review-star .fas {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    color: #ffb60a;
}
.review-star svg {
    width: 18px;
    height: auto;
}

/*rating single course sidebar*/
/*.review-star {
    line-height: 16px;
}*/
.review-stars-rated {
    /*height: 16px;
    line-height: 16px;*/
    display: flex;
}

.review-stars:after {
    clear: both;
    content: '';
    display: block;
}
.review-stars>li {
    width: 16px;
    height: 16px;
    display: inline-block;
    float: none;
    margin-bottom: 0;
}
.review-stars>li span {
    font-size: 13px;
    width: auto;
    height: auto;
    border-bottom: none;
    text-decoration: none;
}
.review-stars > li span {
  color: #FFB606;
}
.review-stars>li span:before {

    width: auto;
    height: auto;
}

.detailed-rating {
    width: auto;
    display: inline-block;
    max-width: 100%;
}
.detailed-rating .stars {
    clear: both;
    padding: 0 30px 3px;
}
.detailed-rating .stars > div.key {
  color: #333;
}

.detailed-rating .stars>div.bar {
    width: 200px;
    margin: 0 7px;
}
.detailed-rating .stars>div.bar .full_bar {
    background: #eee;
    height: 12px;
    position: relative;
}
.detailed-rating .stars {
    clear: both;
    padding: 0 30px 3px;
}

/*review tab for single course page*/
.course-tab-panel-reviews .course-rate,
.course-tab-panel-reviews .course-review-head {
  display: none;
}
.course-tab-panel-reviews .course-reviews-list {
  padding: 0;
}

.course-tab-panel-reviews .review-stars-rated {
  float: right;
}
.course-tab-panel-reviews .course-reviews-list li .review-title {
     clear: inherit; 
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 25px;
    margin: 9px 0 15px;
}
.course-tab-panel-reviews .course-reviews-list li {
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  background: transparent;
  border:none;
}

/*.single-lp_course .course-meta {
  display: none
}*/
.single-lp_course .lp-single-course {
    margin-top: 40px;
}

/*single course tabs inscturtor */
.single-lp_course .author-avatar {
    float: left;
    overflow: hidden;
    margin-right: 25px;
    max-width: 100%;
    margin-bottom: 5px;
}
.single-lp_course .author-avatar img {
  width: 140px;
}
.single-lp_course .lp-single-course .course-author .author-bio {
  font-style: normal;
  font-size: 14px;
}

.single-lp_course .carousel-control-next-icon, .single-lp_course .carousel-control-prev-icon {
  width: 45px;
  height: 45px;
}

/* learnpress profile page*/
#learn-press-user-profile .lp-profile-header,
#learn-press-user-profile #learn-press-profile-nav:before {
  background: #002147;
}
.become-teacher-form button:hover {
    background: #00152E;
}
.become-teacher-form button {
    border: 0;
    padding: 4px 12px;
    background: #002147;
    color: #fff;
}
#learn-press-user-profile .lp-profile-avatar {
    position: absolute;
    bottom: 50px !important;
    left: 20px !important;
    width: 160px;
}

#learn-press-user-profile .lp-profile-avatar img {
    border: 5px solid #6C7582;
}

#learn-press-user-profile .profile-name {
  color: #ddd;
  text-align: left;
}

#learn-press-user-profile #learn-press-profile-nav .tabs > li a {
  color: #f1f1f1;
}
#learn-press-user-profile #learn-press-profile-nav .tabs > li.active > a,
#learn-press-user-profile #learn-press-profile-nav .tabs > li:hover:not(.active) > a,
#learn-press-user-profile #learn-press-profile-nav .tabs > li:hover:not(.active) ul {
  background: #6c7582;
  color: #fff;
}
#learn-press-user-profile #learn-press-profile-nav .tabs > li.active ul {
    background: #4b5461;
}
#learn-press-user-profile #learn-press-profile-nav .tabs > li a {
  padding: 10px 20px;
}
#learn-press-user-profile #learn-press-profile-nav .tabs > li a:hover {
    color: #FEC404;
}
#learn-press-user-profile #learn-press-profile-nav {
  padding-top: 0;
}
#learn-press-user-profile .lp-tab-sections .section-tab.active span {
  border: none;
  color: #4B5461;
}
#learn-press-user-profile .lp-tab-sections .section-tab a {
  color: #fff;
}
#learn-press-user-profile .lp-tab-sections {
  background: #6c7582;
  padding: 10px 5px;
}
#learn-press-user-profile .lp-list-table thead tr th {
    background: #4b5461;
  }
#learn-press-user-profile .lp-list-table th, 
#learn-press-user-profile .lp-list-table td {
  font-weight: 400;
  font-size: 15px;
}
#learn-press-user-profile .lp-sub-menu li a {
  color: #4B5461;
}
#learn-press-user-profile .learn-press-message:before {
  background: #4B5461
}

#learn-press-user-profile .lp-list-table tbody tr td a, 
#learn-press-user-profile .lp-list-table tbody tr th a {
    color: #354052;
}

#learn-press-user-profile .lp-label.label-finished, 
#learn-press-user-profile .lp-label.label-completed {
    background: #354052;
}
#learn-press-user-profile .lp-button {
    line-height: normal;
    padding: 6px 12px;
    height: auto;
    border: 0;
}
/*course search loading */
.lp-archive-courses.loading{
  display: block;
}
/*recent course widget*/
.archive-course-widget-outer .course-entry {
    display: flex;
    margin-bottom: 30px;
}
.archive-course-widget-outer .course-cover {
    margin-right: 10px;
    width: 50%;
    float: left;
}
.archive-course-widget-outer .course-detail {
    float: right;
    width: 50%;
}
.archive-course-widget-outer .course-title {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 0;
}
.archive-course-widget-outer .course-meta-field {
    font-weight: 500;
    color: #8cc63f;
}

/* LearnPress Course Carousel
================================================== */
/*review*/
.review-stars-rated .review-stars.empty,
.review-stars-rated .review-stars.filled {
    font-family: FontAwesome;
    font-size: 16px;
    color: #f2b827;
}
.review-stars-rated .review-stars.empty:before {
    content: '\f006\f006\f006\f006\f006' !important;
    font-family: FontAwesome;
}

.review-stars-rated .review-stars.filled:before {
    content: '\f005\f005\f005\f005\f005' !important;
    font-family: FontAwesome;
}
.review-stars:after {
    clear: both;
    content: '';
    display: block;
}
.review-stars-rated {
    position: relative;
    overflow: hidden;
}
.review-stars {
    margin: 0 0;
    list-style: none;
    overflow: hidden;
}

.review-stars-rated .review-stars.filled {
    position: absolute;
    top: 0;
    left: 0;
}

.learn-press-courses[data-layout="list"] .course-rate {
  margin-right: 43px;
}
.lp-author {
  float: left;
  padding: 5px 0;
  margin-right: 3px;
}
.lp-author img {
    width: 30px;
    border-radius: 50% !important;
}
/*price*/
.edu-course-price {
    position: absolute;
    bottom: 0;
    padding: 7px 10px;
    background: #ffc107;
    color: white;
    font-size: 16px;
}
.edu-course-price .origin-price {
    text-decoration: line-through;
    color: black;
    font-size: 14px;  
}

/*student endrolled*/
.course-students {
    float: right;
    padding: 10px 0;
}
.course-students i {
  font-size: 15px
}
.course-students, .lp_post_views {
  color: #A4A4A4;
  transition: all .3s;
}
.edu-course-footer {
    padding: 10px;
    border-top: 1px solid #e7e7e7;
    display: flow-root;
    transition: all .3s;
}
.lp_post_views {
    padding: 8px 5px 0 0;
    float: right;
}
.lp_post_views .post-views {
  margin-left: 0
}
.lp_post_views i {
  font-size: 15px;
}
.lp_post_views span {
  font-size: 14px;
}
.edu-course-footer .post-views span {
    display: none;
}

/*learnpress carousel for elementor course carousel widget*/
.edu-lp-carousel .edu-lp-carousel-item .hentry {
    background: #fff;
    border: none;
    padding: 0;
    margin: 10px;
    -webkit-transition: box-shadow 0.25s ease;
    -moz-transition: box-shadow 0.25s ease;
    -ms-transition: box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}
.edu-lp-carousel .edu-lp-carousel-item .hentry:hover {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
.edu-lp-carousel .edu-lp-carousel-item .edu-project-image {
    position: relative;
    overflow: hidden; }
    .edu-lp-carousel .edu-lp-carousel-item .edu-project-image img {
      display: block;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      max-width: 100%; }
.edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-overlay {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: #000;
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in-out 0s;
      -moz-transition: opacity 0.4s ease-in-out 0s;
      -ms-transition: opacity 0.4s ease-in-out 0s;
      transition: opacity 0.4s ease-in-out 0s;
       }
.edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-info {
      display: block;
      z-index: 120;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.4s ease-in-out 0s;
      -moz-transition: opacity 0.4s ease-in-out 0s;
      -ms-transition: opacity 0.4s ease-in-out 0s;
      transition: opacity 0.4s ease-in-out 0s; }
.edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-info .edu-entry-info {
        text-align: center;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%; 
        padding: 10px;
      }
.edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-info .edu-post-title {
        padding: 10px;
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #fff; }
@media only screen and (max-width: 1024px) {
          .edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-info .edu-post-title {
            font-size: 18px;
            line-height: 26px; } }
.edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-info .edu-post-title a {
          display: inline;
          color: #fff;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
          border-bottom: 1px solid transparent; }
          .edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-info .edu-post-title a:hover {
            border-bottom: 2px solid #ccc; }
.edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-info .edu-terms {
        display: block;
        color: #f9f9f9; }
.edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-info .edu-terms a {
          position: relative;
          display: inline;
          zoom: 1;
          font-size: 14px;
          line-height: 26px;
          -webkit-transition: color 0.3s ease-in-out 0s;
          -moz-transition: color 0.3s ease-in-out 0s;
          -ms-transition: color 0.3s ease-in-out 0s;
          transition: color 0.3s ease-in-out 0s; }
.edu-lp-carousel .edu-lp-carousel-item .edu-project-image .edu-image-info .edu-terms a:hover {
   color: #fff; 
  }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px 15px 10px;
}

.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .entry-title {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  color: #444;
  margin: 0px 0 10px;
}
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .entry-title:after, .edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .entry-title:before {
        display: none; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .entry-title a {
        color: #333333;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s; }
        .edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .entry-title a:hover {
          color: #888; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .edu-entry-meta span {
      display: inline-block;
      padding: 0;
      margin: 0;
      font-style: italic;
      color: #999; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .edu-entry-meta span a {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        font-style: normal; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .edu-entry-meta span:after {
        content: '/';
        padding-left: 6px;
        padding-right: 6px; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .edu-entry-meta span:first-child {
        border: none;
        padding-left: 0; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .edu-entry-meta span:last-child:after {
        display: none; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .entry-summary {
      padding: 0;
      margin: 10px auto 0; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .edu-category-list {
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .edu-category-list:after {
        width: 35px;
        height: 1px;
        background: #aaa;
        display: block;
        content: ""; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .edu-category-list:after {
        text-align: center;
        margin: 10px auto 10px; }
.edu-lp-carousel .edu-lp-carousel-item .edu-entry-text-wrap .edu-category-list a {
      font-style: italic;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
.edu-lp-carousel .edu-lp-carousel-item .type-post .edu-entry-text-wrap .entry-summary:before {
    display: none; }
.edu-entry-info .author:after {
    padding-left: 6px;
    padding-right: 2px;
}
.edu-ralated-course .owl-nav button {
    width: 18px;
}

@media screen and (min-width: 61.5625em) {
body:not(.search-results) article:not(.type-page) .entry-footer {
    display: block !important;
}
}

/*profile menu overlapping on footer*/
@media screen and (max-width: 480px) {
#learn-press-profile-nav .learn-press-tabs {z-index: 100}
}

@media (min-width: 736px) {
  .learn-press-courses .type-lp_course:hover, .lpr_course:hover {
       box-shadow: none; 
  }
}

.single-lp_course .lp-review-svg-star svg {
    width: 18px;
    height: 18px;
}

p:last-child{
    margin: inherit;
}